/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 21px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } 
  
  /* Hide the browser's default checkbox */
  .container .check_input {
    position: absolute;
    opacity: 0;
    /* cursor: pointer; */
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -8px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #d7e1ed;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* On mouse-over, add a grey background color */
  /* .container:hover .check_input ~ .checkmark {
    background-color: rgb(255, 250, 250);
  } */
  
  /* When the checkbox is checked, add a blue background */
  .container .check_input:checked ~ .checkmark {
    background-color: #1abc9c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container .check_input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  